### In this tutorial, we will use DML to delete data into Bigquery

In [1]:
import os
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:/Users/Lenovo/OneDrive/Documents1/Google_Bigquery/premium-botany-431702-u7-498d1c535417.json"
client = bigquery.Client()

##### DELETE with WHERE clause

In [6]:
# 
QUERY = (
    '''
    DELETE premium-botany-431702-u7.dataset1.Inventory
    WHERE quantity = 5
      '''
      )
query_job = client.query(QUERY)  # API request

In [7]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Inventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish

In [8]:
for row in rows:
    print(row)

Row(('top load washer', 10), {'product': 0, 'quantity': 1})
Row(('refrigerator', 10), {'product': 0, 'quantity': 1})
Row(('front load washer', 20), {'product': 0, 'quantity': 1})
Row(('microwave', 20), {'product': 0, 'quantity': 1})
Row(('dishwasher', 30), {'product': 0, 'quantity': 1})
Row(('dryer', 30), {'product': 0, 'quantity': 1})

##### DELETE with subquery

In [9]:

QUERY = (
    '''
    DELETE premium-botany-431702-u7.dataset1.Inventory i
    WHERE i.product NOT IN (SELECT product from premium-botany-431702-u7.dataset1.NewArrivals);
      '''
      )
query_job = client.query(QUERY)  # API request

In [10]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Inventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('top load washer', 10), {'product': 0, 'quantity': 1})
Row(('dryer', 30), {'product': 0, 'quantity': 1})

##### Alternately, you can use DELETE with the EXISTS clause:

In [11]:

QUERY = (
    '''
    DELETE premium-botany-431702-u7.dataset1.Inventory
    WHERE NOT EXISTS
    (SELECT * from premium-botany-431702-u7.dataset1.NewArrivals
    WHERE Inventory.product = NewArrivals.product);
      '''
      )
query_job = client.query(QUERY)  # API request

In [12]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Inventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('top load washer', 10), {'product': 0, 'quantity': 1})
Row(('dryer', 30), {'product': 0, 'quantity': 1})

##### TRUNCATE TABLE
The following example removes all rows from the table named Inventory.

In [13]:

QUERY = (
    '''
    TRUNCATE TABLE premium-botany-431702-u7.dataset1.Inventory;
'''
)
query_job = client.query(QUERY)  # API request

In [14]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Inventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)