### In this tutorial, we will use DML to insert data into Bigquery

In [14]:
import os
from google.cloud import bigquery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:/Users/Lenovo/OneDrive/Documents1/Google_Bigquery/premium-botany-431702-u7-498d1c535417.json"
client = bigquery.Client()

##### INSERT using explicit values

In [16]:
# 
QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.Inventory (product, quantity)
    VALUES('top load washer', 10),
      ('front load washer', 20),
      ('dryer', 30),
      ('refrigerator', 10),
      ('microwave', 20),
      ('dishwasher', 30),
      ('oven', 5)
      '''
      )
query_job = client.query(QUERY)  # API request

In [18]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Inventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish

In [19]:
for row in rows:
    print(row)

Row(('oven', 5), {'product': 0, 'quantity': 1})
Row(('refrigerator', 10), {'product': 0, 'quantity': 1})
Row(('top load washer', 10), {'product': 0, 'quantity': 1})
Row(('front load washer', 20), {'product': 0, 'quantity': 1})
Row(('microwave', 20), {'product': 0, 'quantity': 1})
Row(('dishwasher', 30), {'product': 0, 'quantity': 1})
Row(('dryer', 30), {'product': 0, 'quantity': 1})

##### If you set a default value for a column, then you can use the DEFAULT keyword in place of a value to insert the default value:

In [22]:

QUERY = (
    '''
    ALTER TABLE premium-botany-431702-u7.dataset1.NewArrivals ALTER COLUMN quantity SET DEFAULT 100;

    INSERT premium-botany-431702-u7.dataset1.NewArrivals (product, quantity, warehouse)
    VALUES('top load washer', DEFAULT, 'warehouse #1'),
      ('dryer', 200, 'warehouse #2'),
      ('oven', 300, 'warehouse #3');
      '''
      )
query_job = client.query(QUERY)  # API request

In [24]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.NewArrivals` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('dryer', 200, 'warehouse #2'), {'product': 0, 'quantity': 1, 'warehouse': 2})
Row(('oven', 300, 'warehouse #3'), {'product': 0, 'quantity': 1, 'warehouse': 2})
Row(('top load washer', 100, 'warehouse #1'), {'product': 0, 'quantity': 1, 'warehouse': 2})

##### INSERT SELECT statement

In [25]:

QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.Warehouse (warehouse, state)
    SELECT *
    FROM UNNEST([('warehouse #1', 'WA'),
      ('warehouse #2', 'CA'),
      ('warehouse #3', 'WA')]);
      '''
      )
query_job = client.query(QUERY)  # API request

In [26]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Warehouse` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('warehouse #1', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #3', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #2', 'CA'), {'warehouse': 0, 'state': 1})

##### You can also use WITH when using INSERT SELECT. For example, you can rewrite the previous query using WITH:

In [28]:

QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.Warehouse (warehouse, state)
    WITH w AS (
    SELECT ARRAY<STRUCT<warehouse string, state string>>
      [('warehouse #1', 'WA'),
       ('warehouse #2', 'CA'),
       ('warehouse #3', 'WA')] col
)
SELECT warehouse, state FROM w, UNNEST(w.col);
'''
)
query_job = client.query(QUERY)  # API request

In [29]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Warehouse` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('warehouse #1', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #3', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #2', 'CA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #2', 'CA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #3', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #1', 'WA'), {'warehouse': 0, 'state': 1})

##### The following example shows how to copy a table's contents into another table:

In [33]:

QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.DetailedInventory (product, quantity, supply_constrained)
    SELECT product, quantity, false
    FROM premium-botany-431702-u7.dataset1.Inventory;
'''
)
query_job = client.query(QUERY)  # API request

In [34]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.DetailedInventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('countertop microwave', 20, None, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})

##### INSERT VALUES with subquery
The following example shows how to insert a row into a table, where one of the values is computed using a subquery:

In [35]:
QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.DetailedInventory (product, quantity)
    VALUES('countertop microwave',
    (SELECT quantity FROM premium-botany-431702-u7.dataset1.DetailedInventory
    WHERE product = 'microwave'));
'''
)
query_job = client.query(QUERY)  # API request

In [36]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.DetailedInventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('countertop microwave', 20, None, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})

##### INSERT without column names

In [37]:
QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.Warehouse VALUES('warehouse #4', 'WA'), ('warehouse #5', 'NY');
'''
)
query_job = client.query(QUERY)  # API request

In [38]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.Warehouse` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('warehouse #4', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #5', 'NY'), {'warehouse': 0, 'state': 1})
Row(('warehouse #1', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #3', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #2', 'CA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #2', 'CA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #3', 'WA'), {'warehouse': 0, 'state': 1})
Row(('warehouse #1', 'WA'), {'warehouse': 0, 'state': 1})

##### INSERT with STRUCT types
The following example shows how to insert a row into a table, where some of the fields are STRUCT types.

In [39]:
QUERY = (
    '''
    INSERT premium-botany-431702-u7.dataset1.DetailedInventory
    VALUES('top load washer', 10, FALSE, [(CURRENT_DATE, "comment1")], ("white","1 year",(30,40,28))),
      ('front load washer', 20, FALSE, [(CURRENT_DATE, "comment1")], ("beige","1 year",(35,45,30)));
'''
)
query_job = client.query(QUERY)  # API request

In [40]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.DetailedInventory` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row(('countertop microwave', 20, None, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('oven', 5, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('top load washer', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('refrigerator', 10, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('front load washer', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('microwave', 20, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dishwasher', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})
Row(('dryer', 30, False, None, None), {'product': 0, 'quantity': 1, 'supply_constrained': 2, 'comments': 3, 'specifications': 4})

##### INSERT with ARRAY types
The following example show how to insert a row into a table, where one of the fields is an ARRAY type.

In [41]:
QUERY = (
    '''
    CREATE TABLE IF NOT EXISTS premium-botany-431702-u7.dataset1.table1 (names ARRAY<STRING>);

    INSERT INTO premium-botany-431702-u7.dataset1.table1 (names)
    VALUES (["name1","name2"]);
'''
)
query_job = client.query(QUERY)  # API request

In [42]:
# Perform a query.
QUERY = (
    'SELECT * FROM `premium-botany-431702-u7.dataset1.table1` LIMIT 1000;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row((['name1', 'name2'],), {'names': 0})

##### INSERT with RANGE types
The following example shows how to insert rows into a table, where the fields are RANGE type.

In [45]:
QUERY = (
    '''
    CREATE TABLE IF NOT EXISTS premium-botany-431702-u7.dataset1.mytable1 (emp_id INTEGER, dept_id INTEGER, duration RANGE<DATE>);

    INSERT premium-botany-431702-u7.dataset1.mytable1 (emp_id, dept_id, duration)
    VALUES(10, 1000, RANGE<DATE> '[2010-01-10, 2010-03-10)'),
      (10, 2000, RANGE<DATE> '[2010-03-10, 2010-07-15)'),
      (10, 2000, RANGE<DATE> '[2010-06-15, 2010-08-18)'),
      (20, 2000, RANGE<DATE> '[2010-03-10, 2010-07-20)'),
      (20, 1000, RANGE<DATE> '[2020-05-10, 2020-09-20)');
'''
)
query_job = client.query(QUERY)  # API request

In [46]:
# Perform a query.
QUERY = (
    'SELECT * FROM premium-botany-431702-u7.dataset1.mytable1 ORDER BY emp_id;')
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
for row in rows:
    print(row)

Row((10, 2000, {'start': datetime.date(2010, 6, 15), 'end': datetime.date(2010, 8, 18)}), {'emp_id': 0, 'dept_id': 1, 'duration': 2})
Row((10, 2000, {'start': datetime.date(2010, 3, 10), 'end': datetime.date(2010, 7, 15)}), {'emp_id': 0, 'dept_id': 1, 'duration': 2})
Row((10, 1000, {'start': datetime.date(2010, 1, 10), 'end': datetime.date(2010, 3, 10)}), {'emp_id': 0, 'dept_id': 1, 'duration': 2})
Row((20, 2000, {'start': datetime.date(2010, 3, 10), 'end': datetime.date(2010, 7, 20)}), {'emp_id': 0, 'dept_id': 1, 'duration': 2})
Row((20, 1000, {'start': datetime.date(2020, 5, 10), 'end': datetime.date(2020, 9, 20)}), {'emp_id': 0, 'dept_id': 1, 'duration': 2})